node_modules
.DS_Store
.idea
lerna-debug.log
npm-debug.log
package-lock.json
yarn.lock
yarn-error.log
tempDir
coverage/
.bee/

.eslintcache
build
dist
lib
.tmp/
npmrc
.history
.vscode

**/src/**/*.js
scripts/*.js

# umi
.umi
.umi-production
.umi-test
.env.local