{# 鼠标点击特效 #}
{%- if theme.cursor_effect == "fireworks" %}
  <script async src="/js/cursor/fireworks.js"></script>
{% elif theme.cursor_effect == "explosion" %}
  <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas>
  <script src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script>
  {{- next_js('custiom/explosion.min.js') }}
  {# <script async src="/themes/next/source/js/"></script> #}
{% elif theme.cursor_effect == "love" %}
  <script async src="/js/cursor/love.min.js"></script>
{% elif theme.cursor_effect == "text" %}
  <script async src="/js/cursor/text.js"></script>
{% endif %}